$primary: rgb(5, 109, 174);
$secondary: #72569C;
$text: rgb(51, 51, 51);
$lgray: #eee;
$accent: rgb(0, 98, 110);

.ReviewTrans {
    display: flex;
    flex-direction: column;
    h2 {
        color: $primary;
        font-weight: 300;
        font-size: 26px;
        align-self: center;
    }
    p{
        margin: 0;
        margin-bottom: 8px;
    }
    p.bold{
        margin-top: 8px;
    }
    .card{
        margin-top: 12px;
        margin-bottom: 28px;
    }
    .trans{
        display: flex;
        margin-top: 14px;
        border: 1px solid rgb(171, 171, 171);
        border-radius: 5px;
        padding: 12px;
        color: black;
        font-family: 'Helvetica', 'Arial', sans-serif;
        margin-bottom: 28px;
        font-weight: 500;
        .left{
            display: flex;
            flex-direction: column;
            gap: 4px;
            flex: auto;
            span{
                font-weight: 500;
            }
            span.status{
                display: flex;
                align-items: center;
                color: rgb(5, 109, 174);
                font-size: 14px;
                gap: 4px;
                font-weight: 500;
            }
        }
        .right{
            flex-shrink: 0;
            flex-grow: 0;
            align-self: center;
        }
    }
    button{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        height: 50px;
        border-radius: 5px;
        &:hover{
            filter: brightness(1.1);
        }
        &:active{
            filter: brightness(0.9);
        }
        transition: filter 0.1s ease-in-out;
    }
    button.yes{
        margin-bottom: 12px;
        background-color: rgb(2, 77, 34);
        font-weight: 700;
    }
    button.no{
        background-color: rgb(106, 0, 12);
        font-weight: 700;
        svg{
            transform: scale(1.2)
        }
        margin-bottom: 16px;
    }
    p.legal{
        font-size: 14px;
    }
}