@use 'sass:color';
$primary: #0071e3;
$primary2: #06c;
$primary3: #0077ed;


$secondary: #FDBC3D;
$lgray: rgb(134, 134, 134);
$accent: #006D7A;
$navy: #032d6e;

$gray: #f2f2f7;
$black: rgb(31, 31, 31);

$text: rgb(73, 73, 73);
$error-bg: #fff2f4;
$error-border: #e30000;

.DigitalLegacy {
    .card {
        align-items: center;

        @media screen and (max-width: 759px) {
            padding-top: 22px;
            padding-left: 12vw;
            padding-right: 12vw;

            @media screen and (max-width: 632px) {
                padding-left: 10vw;
                padding-right: 10vw;

                @media screen and (max-width: 509px) {
                    padding-left: 24px;
                    padding-right: 24px;
                }
                @media screen and (max-width: 419px) {
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
        }

        h1 {
            color: $black;
            font-size: 28px;
            margin-bottom: 24px;
        }

        p {
            margin: 0;
            margin-bottom: 14px;
            color: $black;

            .mobileBreak {
                display: none;
                margin-bottom: 6px;
            }

            @media screen and (max-width: 459px) {
                .mobileBreak {
                    display: inline;
                }
            }
        }

        .contact {
            margin-top: 14px;
            margin-bottom: 24px;
            padding: 18px 24px;
            border-radius: 8px;
            border: 1px solid $lgray;
            display: flex;
            flex-direction: column;
            gap: 2px;

            @media screen and (max-width: 498px) {
                padding: 16px 20px;
            }

            span {
                color: $black;
            }

            .name {
                font-weight: 600;
            }
        }

        .buttons {
            margin-top: 24px;
            display: flex;
            gap: 8px;

            @media screen and (max-width: 498px) {
                flex-direction: column;
                gap: 14px;
                margin-top: 18px;

                button.Primary,
                button.Secondary {
                    width: 260px;
                }

                button.Primary {
                    order: 1;
                }

                button.Secondary {
                    order: 2;
                }
            }

            button {
                padding: 10px 16px;
                width: 210px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 43px;
            }
        }

        .learnMore {
            margin-top: 40px;
            align-self: flex-start;
            display: flex;
            align-items: center;
            width: fit-content;

            &:hover {
                text-decoration: underline;
            }

            .icon {
                margin-bottom: -2px;
            }

            span {
                letter-spacing: -0.02em;
            }
        }
    }
}

.PasscodeEntry {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    top: 0;
    z-index: 9999;
    left: 0;
    animation: entrySlideUp 0.1s ease-in forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;

    &[data-closing='true'] {
        animation: entrySlideDown 0.12s ease-in forwards;
    }

    h1 {
        margin-top: 24px;
    }

    * {
        max-width: 400px;
    }

    h1,
    p {
        color: white;
        text-align: center;
    }

    p.instruct {
        font-size: 15px;
        font-weight: 400;
        opacity: 0.75;
    }

    .passcodeInput {
        z-index: 0;
        opacity: 0;
        pointer-events: none;
    }

    .circles {
        display: flex;
        gap: 10px;
        margin-top: 16px;

        &[data-shake='true'] {
            animation: incorrectShake 0.5s forwards;
        }

        .circle {
            width: 16px;
            height: 16px;
            border-radius: 99px;
            border: 2px solid rgb(227, 227, 227);

            &.filled {
                background-color: rgb(227, 227, 227);
                border-color: rgb(227, 227, 227);
            }
        }
    }
    .howToFocus{
        margin-top: 28px;
        color: rgb(176, 176, 176);
    }
}

@keyframes incorrectShake {
    0% {
        transform: translateX(0);
    }

    16% {
        transform: translateX(-16px);
    }

    32% {
        transform: translateX(16px);
    }

    50% {
        transform: translateX(-16px);
    }

    66% {
        transform: translateX(16px);
    }

    84% {
        transform: translateX(-16px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes entrySlideUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes entrySlideDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(100%);
    }
}