$primary: #0071e3;
$primary2: #06c;

$secondary: #FDBC3D;
$lgray: rgb(134, 134, 134);
$accent: #006D7A;
$navy: #032d6e;

$gray: #f2f2f7;
$black: rgb(31, 31, 31);

$text: rgb(73, 73, 73);
$error-bg: #fff2f4;
$error-border: #e30000;

@use 'sass:color';

.Otp {
    .card {
        align-items: center;

        img.appleAcc {
            width: 160px;
            height: 160px;
        }

        h2 {
            align-self: center;
            text-align: center;
            margin-top: 30px;
            font-weight: 400;
            color: $black;
            margin-bottom: 22px;
            @media screen and (max-width: 357px) {
                font-size: 23px;
            }
        }

        .otp-input-container {
            display: flex;
            gap: 6px;
            &[data-disabled="true"]{
                pointer-events: none;
                .otp-input-field{
                    opacity: 0.5;
                    background-color: color.mix(white, $lgray, 90%);
                }
            }

            .otp-input-field {
                border: 1px solid $lgray;
                border-radius: 8px;
                color: $black;
                width: 44px;
                height: 44px;
                transition: all 0.04s ease-in;
                font-size: 21px;

                &[data-focused="true"] {
                    box-shadow: 0 0 0 1px $primary;
                    border-color: $primary;
                    outline: 2px solid $primary;
                    outline-offset: 3px;
                }
            }
        }

        .instruct {
            margin-top: 28px;
            text-align: center;
        }

        .sep {
            margin-top: 28px;
            background-color: color.mix(white, $lgray, 70%);
            width: 100%;
            height: 1px;
            margin-bottom: 12px;
            max-width: 485px;
        }

        a.resend {
            font-size: 15px;
            cursor: pointer;
            display: flex;
            gap: 8px;
            position: relative;
            height: 19px;
            .resendSpinner {
                position: absolute;
                left: -20px
            }

            &[data-resending="true"] {
                opacity: 0.5;
                padding-left: 20px;
            }
        }

        .uhoh {
            padding: 0 24px;
            max-width: 460px;
            text-align: center;
            line-height: 1.35em;
            font-size: 14px;
            font-family: "Helvetica Neue", sans-serif;
        }
        .error{
            color: $error-border;
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 14px;
            margin-top: 14px;
            text-align: center;
            
            .errorIcon {
               font-size: 16px;
            }
        }
        &[data-otp-error="true"] {
            .otp-input-field{
                border-color: $error-border;
                background-color: $error-bg;
                //box-shadow: 0 0 0 1px $error-border;
            }
        }
    }
}